{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img" src="{{ profileuser.profile.image.url }}">
	    <div class="media-body">
	      <h2 class="account-heading">{{ profileuser.username }}</h2>
	      <p class="text-secondary">{{ profileuser.email }}</p>
        <p class="text-start">Bio : {{ profileuser.profile.bio }}</p>

          <hr class="my-2" />
              

	    </div>
	  </div>
	    <!-- FORM HERE -->
        {% ifequal user profileuser %}
	    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        {% endifequal %}
        <!-- USER POSTS -->
        <hr>
        <h2 align="justify">Posts</h2>
        {% if user_posts %}
            {% for post in user_posts %}
                <article class="media content-section">
                  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                  <div class="media-body">
                <div class="row">
                  <div class="col-9">
                    <div class="article-metadata">
                      <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
                      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                  </div>
                  <div class="col-3">
                    <div class="float-right mr-4">
                      <div class="row">
                        <h6 style="color:green;" class="mt-2 mr-4">{{ post.number_of_upvotes }} </h6>
                        <i class="fa fa-caret-up" style="font-size:32px;color:green"></i>
                      </div>
                      <div class="row">                
                        <h6 style="color:red;" class="mt-2 mr-4">{{ post.number_of_downvotes }} </h6>
                        <i class="fa fa-caret-down" style="font-size:32px;color:red"></i>
                      </div>
                    </div>              
                  </div>
                </div>
                </article>
            {% endfor %}
        {% else %}
            {% ifequal user profileuser %}
                <h7>You haven't posted anything yet! <br>Click </h7>
                <a href="{% url 'post-create' %}">here</a>
                <h7> to create your first post</h7>
            {% else %}
                <h6>{{ profileuser.username }} hasn't posted anything yet!</h6>
            {% endifequal %}
        {% endif %}
	</div>
{% endblock content %}
