{% extends "feed/base.html" %}
{% block content %}
	{% for post in posts %}
		<article class="media content-section">
      {% if post.anonymous %}
      <img class="rounded-circle article-img" src="media/default.jpg">
      {% else %}
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
      {% endif %}
		  <div class="media-body">
		    <div class="article-metadata">
          {% if post.anonymous %}
          <a class="mr-2" href="#">Anonymous</a>
          {% else %}
		      <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
          {% endif %}
		      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
		    </div>

        <div class="row">
          <div class="col-8">
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>        
            <p class="article-content">{{ post.content }}</p>
          </div>
          <div class="col-4">
            <div class="col">
              <div class="row">
                <h6 style="color:green;" class="mt-2 mr-4">{{ post.number_of_upvotes }} </h6>
                <i class="fa fa-caret-up" style="font-size:32px;color:green"></i>
              </div>
              <div class="row">                
                <h6 style="color:red;" class="mt-2 mr-4">{{ post.number_of_downvotes }} </h6>
                <i class="fa fa-caret-down" style="font-size:32px;color:red"></i>
              </div>
            </div>            
          </div>
		    
        </div>

		</article>
	{% endfor %}
	<!-- PAGINATION -->
	{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endblock content %}